:root {

  --primary-color: #36393f;
  --secondary-color: #2f3136;
  --tertiary-color: rgb(32, 34, 37);
  --quaternary-color: #292b2f;
  --quinary-color: #393d42;
  --senary-color: #828386;

  --white: #f5f5f5;
  --gray: #8a8c90;
  --chat-input: #40444b;
  --symbol: #74777a;

  --notification: #f84a4b;
  --discord: #6e86d6;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;

  --link: #5d80d6;
  --rocketseat: #6633cc;
}

html ,body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #f5f5f5;
    --secondary-color: #f5f5f5;
    --tertiary-color: #f5f5f5;
    --quaternary-color: #f5f5f5;
    --quinary-color: #f5f5f5;
    --senary-color: #f5f5f5;
    --white: #f5f5f5;
    --gray: #f5f5f5;
    --chat-input: #f5f5f5;
    --symbol: #f5f5f5;
    --notification: #f5f5f5;
    --discord: #f5f5f5;
    --mention-detail: #f5f5f5;
    --mention-message: #f5f5f5;
    --link: #f5f5f5;
    --rocketseat: #f5f5f5;
  }
}